<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bocami.Practices.DecoratorPattern" version="1.0.5290.35142" targetFramework="net451" developmentDependency="true" />
  <package id="Bocami.Practices.Query" version="1.0.5307.22298" targetFramework="net451" developmentDependency="true" />
  <package id="Bocami.Practices.Validation" version="1.0.5290.39982" targetFramework="net451" developmentDependency="true" />
</packages>